body{
	width: 100%;
	margin: 0 auto; 
	/*background: white;*/
	display: block;
}

.container{
	width: 100%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}
.container-header{
	width: 960px;
	margin: auto;	
}

header{
	background: black;
	width: 100%;
	top: 0;
	position: fixed;
	overflow: hidden;
}

.logo{
	font-family: "helvetica";
	color: white;
	float: left;
}

#kembali{
	font-family: "Montserrat";
	color: white;
	float: right;
	margin: 0 auto;
}

#kembali a:hover{
	color: #1C81AD;
}

a{
	text-decoration: none;
}

.profil{
	font-family: "helvetica";
	margin-left: auto;
	margin-right: auto;
	/*display: flex;*/
}

img.fotoprofil{
	display: block;
	height: 200px; 
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.biodata {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	font-family: "helvetica";
	text-align: left;
}

tr, td{
	padding-left: 15px;
	padding-bottom: 15px;
}

.description{
	font-family: "helvetica";
	text-align: center;
	line-height: 1.5em;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.socmed, .container-socmed{
	font-family: "Montserrat";
	color: black;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

#fb a, #ig a, #li a{
	border:3px solid black; 
	padding:10px; 
	color: black;
	margin: 10px;
}

#fb a:hover, #ig a:hover, #li a:hover{
	background: black;
	color: white;
}

/*.footer{
	font-family: "helvetica";
	font-size: 10px;
	text-align:center;
	background-color:black;
    color:white;
   	padding:5px;
   	margin-top: 20px;	
}*/