h1.judul{

		font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
		font-size: 100px;
		line-height: 25px;
		animation-duration: 2s;
  		animation-name: judulmasuk;
	}


@keyframes judulmasuk {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2.subjudul{

		font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
		font-weight: normal;
		animation-duration: 2s;
		animation-name: submasuk;

	}

	@keyframes submasuk {
		from{
			margin-right: 0%;
			width: 300%
		}

		to {
			margin-right: 100%;
			width :100%;
		}
	}

h2.judul{

		font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
		font-weight: bold;
		font-size: 30px;
		line-height: 25px;
	}


div.latarjudul {

	/*border: 10px;
*/
    padding: 6% 0;

    background: url("back.jpg");

    background-repeat: no-repeat;
     background-origin: border-box;
     background-size: 100%;

/*    -webkit-animation-name: gantiwarna; 
    -webkit-animation-duration: 4s; 
    animation-name: gantiwarna;
    animation-duration: 4s;*/
 
}

/*#latar {
background: url(gambar/back.jpg);

}*/

/*@-webkit-keyframes gantiwarna {
    from {background-color: darkslateblue;}
    to {background-color: steelblue;}
}


@keyframes gantiwarna {
    from {background-color: darkslateblue;}
    to {background-color: steelblue;}
}
*/



p.deskripsi {
	font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 50px;
	margin-left: 100px;
	margin-right: 100px;
	background: lightsteelblue;
}

hr {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border-style: inset;
    border-width: 1px;
    color:#DCDCDC;
} 

img.tombolprofil{


	margin: 20px 20px 20px 20px;
	width:16%;
	height:180px;
    filter: alpha(opacity=100);	
}

img.tombolprofil:hover {
 	opacity: 0.4;
    filter: alpha(opacity=40);
} 


ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #4682B4;
}