a.mulai {
  font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background-color: #f44336;
    color: white;
    padding: 14px 40px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

  body {
    font: 120% / 1.5 Arial;
    scroll-behavior: smooth;
    overflow-y: hidden; 
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1, p {
    margin-bottom: 1.5em;
  }

  body > svg {
    display: none;
  }


  /* demo nav bar
  --------------------------------------------- */

  .nav {
    position: fixed;
    z-index: 100;
    bottom: 1em;
    padding: 1em 5em 0 5em;
    width: 100%;
    display: none;
    margin: auto;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav li {
    flex: 1;
    display: inline-block;
    list-style: none;
    margin: .5em;
  }
  .nav a {
    display: block;
    padding: .5em 1em;
    color: #fff;
    border-radius: 3px;
    background: rgba(0,0,0,.6);
    text-align: center;
  }
  .nav a:not(:hover) {
    text-decoration: none;
  }


  /* slide layout
  --------------------------------------------- */

  .slide {
    position: relative;
    padding: 8% 0;
  }
  .slide__content {
    max-width: 1200px;
    margin: auto;
  }
  .slide__text, .slide__image {
    padding: 8%;
  }
  .slide__image svg {
    display: block;
    width: 100%;
    max-width: 560px;
    margin: auto;
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  /* slide backgrounds */

  #slide-1 .slide__bg {
    background-color: rgb(139, 69, 19);

    /*background-image: repeating-linear-gradient(
      90deg,
      rgb(139, 69, 19),
      rgb(139, 69, 19) 30px,
      rgb(160,82,45) 30px,
      rgb(160,82,45) 60px
    );*/
  }  
  #slide-2 .slide__bg {
    background-color: rgb(230,230,250);    
    /*background-image: repeating-linear-gradient(
      90deg,
      rgb(230,230,250),
      rgb(230,230,250) 30px,
      rgb(173,216,230) 30px,
      rgb(173,216,230) 60px
    );*/
  }

  /* misc
  --------------------------------------------- */

  
  /* Large screen layout
  --------------------------------------------- */  
  
  @media screen and (min-width: 45em) {
    .slide__content {
      display: -webkit-flex;
      display: flex;
      align-items: center;
    }
    .slide__image, .slide__text {
      padding: 3%;
      -webkit-flex: 1;
      flex: 1;
    } 
    .slide:nth-child(2n) .slide__text {
      -webkit-order: 1;
      order: 1;
    }
    .nav {
      display: flex;
    }
    /* horizontal scroll styles */
    html, body {
      height: 100%;
    }
    .slides {
      white-space: nowrap;
      height: 100%;
    }
    .slide {
      width: 100%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      margin-right:-.3em;
    }
    .slide__content {
      height: 100%;
    }

    /* parallax */
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
      html, body {
        overflow: hidden;
      }
      body {
        transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
      }
      .slides {
        position: absolute;
        overflow-x: auto;
        overflow-y: hidden;
        perspective: 300px;
        scroll-behavior: smooth;
        width: 100%;
      }
      .slide, .slide__content {
        transform-style: preserve-3d;
      }
      .slide__text {
        transform: translateZ(60px) scale(.8);
        transform-origin: 100% 50%;
      }
      .slide:nth-child(2n) .slide__image {
        transform: translateZ(100px) scale(.67);
        transform-origin: 100% 50%;
      }
      .slide:nth-child(2n) .slide__text {
        transform-origin: 0% 50%;
      }
      .slide:nth-child(2n) .slide__bg {
        transform: translateZ(59px) scale(.85);
      }
      .slide:nth-child(2n+1):not(:first-child) .slide__bg {
        left: -50%;
      }
      .slide:nth-child(2n+1):not(:last-child) .slide__bg {
        right: -50%;
      }
      .slide:nth-child(2n) {
        z-index: 1; /* ensure slides overlay correctly */
      }
    }
  }