.background{
  width: auto;
  height: auto;
  background-color: lightblue ;
  z-index: -100;
  }

#background-pjw{
  background-color: #F7F9F9;
/*ukuran*/
  width: 500px;
  height: 420px;
/*bikin bunder*/
  border-radius: 0px;
/*ditengah*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
/*dibelakang*/
  z-index: -2;
/*shadow*/
-webkit-box-shadow: 10px 10px 54px 2px rgba(0,0,0,0.19);
-moz-box-shadow: 10px 10px 54px 2px rgba(0,0,0,0.19);
box-shadow: 10px 10px 54px 2px rgba(0,0,0,0.19);
}

#header-pjw{
  width:500px;
  height:180px;
  z-index: -1;
  position: absolute;
}

#photo-pjw{
  width:100px;
  height:100px;
  border-radius:50px;
  border: 3px;
  border-color: #F7F9F9;
  border-style: solid;
  margin-left: 135px;
  margin-top: 80px;
}

.nama{
  font-family: "Segoe UI Light" ;
  font-size: 25px;
  color:#555555;
  margin-top: 0px;
  /*margin: auto;*/
  text-align: center;
}

.nim{
  font-family: "Segoe UI Light" ;
  font-size: 15px;
  color:#C0C0C2;
  margin-top: -10px;
  text-align: center;
}


#facebook-pjw{
  color: #848482;
  font-size: 25px;
  margin: auto;
}
.verticalline{
  padding-left: 5px;
  border-left: 1px solid #C1C1C3;
  font-size:10px;
}
#instagram-pjw{
  color: #848482; font-size: 25px; margin: auto;
}
.verticalline{25px
  padding-left: 5px;
  border-left: 1px solid #A6A5A3;
  font-size:10px;
}
#twitter-pjw{
  color:#848482 ; font-size: 25px; margin: auto;
}
.verticalline{
  padding-left: 5px;
  border-left: 1px solid #A6A5A3;
  font-size:10px;
  text-align: center;
}
#linkedin-pjw{
  color:#848482 ; font-size: 25px; margin: auto;
}

.logo-facebook-pjw{
  padding-top: 40px;
  padding-left: 55px;
  padding-right: 46px;
  text-decoration: none;
}
.logo-instagram-pjw{
  padding-top: 5px;
  padding-left: 46px;
  padding-right: 46px;
  text-decoration: none;
}
.logo-twitter-pjw{
  padding-top: 5px;
  padding-left: 46px;
  padding-right: 46px;
  text-decoration: none;
}
.logo-linkedin-pjw{
  padding-top: 5px;
  padding-left: 46px;
  padding-right: 55px;
  text-decoration: none;
}

.labelfacebook{
  font-family: "Segoe UI Light" ;
  font-size: 12px;
  color:#848482;
  padding-left: 40px;
  padding-right: 47px;
}
.labelinstagram{
  font-family: "Segoe UI Light" ;
  font-size: 12px;
  color:#848482;
  padding-left: 22px;
  padding-right: 47px;
}
.labeltwitter{
  font-family: "Segoe UI Light" ;
  font-size: 12px;
  color:#848482;
  padding-left: 33px;
  padding-right: 47px;
}
.labellinkedin{
  font-family: "Segoe UI Light" ;
  font-size: 12px;
  color:#848482;
  padding-left: 41px;
  padding-right: 47px;
}
/*.garis{
  background-color: #848482;
  width: 180px;

}*/
/*julia{
  width: 200px;
  height: 200px;
  background-color: red;
}*/
