body{background: white; margin:0;}
h1{font: 58px/60px 'Bree Serif', Georgia, serif; color:#555555;}
ul{list-style-type: none;}
p {
    font: italic 16px 'Bree Serif', Georgia, serif; 
    color:white;
    line-height: 160%;
    margin:auto;
    text-align: justify;
    text-indent: 20px; 
}


/****************************************************/
/* Nav-bar */
/****************************************************/
#navigasi ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5F5F5F;
}
#navigasi li {float: left;}
#navigasi li a {
    display: inline-block;
    color: #F1F1F1;
    font: 16px/20px 'Bree Serif', Georgia, serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navigasi li a:hover {background-color: teal; text-decoration: underline;}

/****************************************************/
/* Isi */
/****************************************************/
#isi{
    width:850px;
    margin:0px auto 0px auto;
    overflow:auto;
    background: white;
}
#isi span{color:teal;}
#isi h1{text-align: right; margin-right: 20px;}
#isi img{float:left; margin-left:20px; margin-right:40px; border:5px solid #D9D9DC; width:200px;}
td.kolom1 {font: 16px 'Bree Serif', Georgia, serif; color:teal;}
td.kolom2 {font: 16px 'Bree Serif', Georgia, serif; color:#5F5F5F;}

#desc{
    border-radius: 15px 50px;
    background: teal;
    float:right;
    margin-top:20px;
    margin-right: 20px;
    padding: 20px; 
    width: 510px;
    height: 110px; 
}

/****************************************************/
/* Medsos */
/****************************************************/
#medsos{margin-top: 220px;}
#medsos img{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    border: 0px;
    width: 50px;
    height: 50px;
}
#medsos img:hover {
    opacity: 0.6;
}






