body{
background:#000000;
margin:0 auto;
padding:0;
color: #ffffff;
letter-spacing: 1px;
}

#wrapper{
  width: 950px;
  margin: auto;
  background-color:rgba(255,255,255,0.3);
  border-radius: 30px;
}
#header{
  height: auto;
  background: transparent;
  margin-top: 12%;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #4682B4;
}