body{
    background-color: lightgrey;
}
    div.profil{
        padding: 7% 0;
        background-color: #ffffff;
    }


.tentangsaya {
    font-family: "Segoe UI Light",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
    font-weight: lighter;
  text-decoration: none;
  background-color: indianred;
  color: white;
  padding: 9px 28px 9px 28px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.tentangsaya:hover{
    background-color: firebrick;
}

div.kiri {
    width:500px;
    margin: 0 0 0 100px;
    /*margin-left: 100px;*/
    float: left;
}
div.tengah {
    width: calc(100% - 600px);
    float: right;
}


h1 {
    font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	text-align:center;
	margin-top: 75px;
}

hr {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border-style: inset;
    border-width: 1px;
    color:#DCDCDC;
} 

h1.tebal {
    font-weight: bold;
    line-height: 25px;
}

h1.biasa {
    font-weight: normal;
}

h3.tebal {
    font-weight: bold;
    line-height: 14px;
}
h3 {
	font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
}


p.biasa {
    font-weight: normal;
}

p {
	font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}

img.fotoprofil{
	width:446px;
	height:370px;	
}

img.mediasosial{
	width:42px;
	height:42px;
    filter: alpha(opacity=100);	
}

table, th, td {
    border : solid 1px  steelblue; 
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    }

table.biodata{
	width:calc(100% - 100px);
	border: 1px;
	background-color: #eee;
}

tr:nth-child(even) {
    background-color: #fff;
    padding: 12px;
}

td{
	font-family: "Segoe UI",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 18px;
}

body {
    background-color: #ffffff;
}


button.kembali{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
